<label>
    Your email address?
    <input type="text" @bind-value="_email"/>
</label>

<button @onclick="HandleSubmit">Submit</button>

@code {
    private string _email;

    private void HandleSubmit()
    {
        Console.WriteLine($"Submitted! {_email}");
    }
}