
<div class="card mt-4">
  <div class="card-header">
     @Title
  </div>
  <div class="card-body">
    <p class="card-text">Contents go here!</p>
  </div>

  
</div>

@code {

  [Parameter]
  public string Title { get; set; }

}